<h2>Admin Panel</h2>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Coins" asp-action="Import">Import Coins (Excel)</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Coins" asp-action="Create">Add Coin</a>
    </li>
</ul>
